<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Booking Status Change</title>
    <style>
        hr{
            border-top: 1px solid #6E6E6E;
            width: 100%;
            transform: scaleY(0.5);
        }
        .info-block{
            padding: 0.313rem;
        }
        @media only screen and (max-width: 764px) {
            .info-block {
              width: 100% !important;
              display: block !important;
              padding: 0.156rem !important;
            }
            td {
              text-align: left !important;
            }
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; color: #0D0202; background-color: white; margin: 0; padding: 20px;">
    <div style="width: 100%; max-width: 794px; margin: 0 auto;">
        <table width="100%" style="max-width: 794px; margin: 0 auto; padding: 24px 0; background-color: #B61744; border-top-left-radius: 24px; border-top-right-radius: 24px; text-align: center;">
            <tr>
                <td style="text-align: center !important;">
                    <img src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/explore-world-white.png" alt="Explore World Logo" style="width: 231px; height: 42px; text-align: center; margin: 0 auto;" />
                </td>
            </tr>
        </table>

        <div style="text-align: center; margin-top: 20px;">
            <div style="font-size: 22px; font-weight: 600;">Package Status Changed - Approval Needed</div>
            <div style="font-size: 18px; font-weight: 400; margin: 10px 0;">
                Status of package Tropical Island Adventure package updated from <div style="font-weight: 600;">Inactive</div> to <div style="font-weight: 600;">Active</div>.
            </div>
        </div>

        <div style="padding: 24px 24px;">
          <div style="margin-top: 20px;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                  <tr>
                      <td class="info-block" style="font-size: 18px; font-weight: 400;">Package Name</td>
                      <td class="info-block" style="font-size: 16px; font-weight: 600; text-align: right;">Tropical Island Adventure package</td>
                  </tr>
                  <tr>
                      <td colspan="2"><hr style="border: none; border-top: 1px solid #BAB2B2;"></td>
                  </tr>
                  <tr>
                      <td class="info-block" style="font-size: 18px; font-weight: 400;">Package ID</td>
                      <td class="info-block" style="font-size: 16px; font-weight: 600; text-align: right;">#4556</td>
                  </tr>
                  <tr>
                      <td colspan="2"><hr style="border: none; border-top: 1px solid #BAB2B2;"></td>
                  </tr>
                  <tr>
                      <td class="info-block" style="font-size: 18px; font-weight: 400;">Date Submitted</td>
                      <td class="info-block" style="font-size: 16px; font-weight: 600; text-align: right;">August 15, 2024 </td>
                  </tr>
                  <tr>
                      <td colspan="2"><hr style="border: none; border-top: 1px solid #BAB2B2;"></td>
                  </tr>
              </table>
          </div>
        </div>

        <div style="text-align: center;">
            <div style="font-size: 18px; font-weight: 400; margin: 10px 0;">
                Please review and approve or reject the package in the system.
            </div>
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <a href="#" style="padding: 16px; background: #E41D55; color: white; border-radius: 4px; font-size: 16px; text-decoration: none; display: inline-block;">View Details</a>
        </div>

        <div style="text-align: center; margin-top: 40px;">
            <hr style="border: none; border-top: 1px solid #BAB2B2; margin: 10px 0;">
            <div style="font-size: 12px;">This is a computer generated email, please don’t reply to this email</div>
            <div style="font-size: 12px;">© explore world 2024</div>
        </div>

    </div>
</body>
</html>
