<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; width: 577px; height: 100%; max-width: 794px; margin: 0 auto;">

        <!--heading-->
        <div style="margin: 20px 0px">
            <div style="text-align: left; color: black; font-size: 16px; font-weight: 400;">
                Booking Conformation
            </div>
        </div>

        <!--header-->
        <div style="width: 90%; height: 94px; background-color: #e41d55; border-radius: 14px; margin: auto; font-size: 14px; font-weight: 400; padding: 8px 24px 8px 24px; text-align: center;">
            <span style="width: 123px; height: 135px; float: left; margin-top: 13px; background: white; box-shadow: 0px 2px 19px rgba(47.78, 94.96, 150.87, 0.07); border-radius: 24px; border: 0.6px #ebeff6 solid;">
                <div style="margin-top: 45%">
                    <img style="width: 96px; height: 18px" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/explore-world-big.png" alt=""/>
                </div>
            </span>
            <span style="float: right; background: white; border-radius: 5px; padding: 7px 9px; margin-top: 28px;"><span  style="font-weight: 500;">CONFIRMATION NUMBER: </span>#4607133476</span>
        </div>

        <!--details section-->
        <div style="width: 100%; height: 110px; font-size: 14px; font-weight: 400; margin-top: 60px;">
            <span style="width: 170px; height: 110px; float: left; border-right: 2px solid #ebeff6; padding-right: 10px;">
                <div>
                    <span>
                        <img style="vertical-align: middle;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/person.png"/>
                    </span>
                    <span style="font-size: 10px; color: #4D3737; margin-left: 10px;">
                        PRIMARY TRAVELLER
                    </span>
                </div>

              <div style="margin-top: 13%; font-size: 12px; font-weight: 400">
                Muhammed Asif
              </div>
              <div style="margin-top: 5%; font-size: 12px; font-weight: 400; line-height: 14.4px; ">
                Pablo Alto, San Francisco, CA 92102, United States of America
              </div>
            </span>
            <span
              style="width: 170px; height: 110px; float: left; border-right: 2px solid #ebeff6; padding-right: 10px; padding-left: 15px;">
              <div>
                <span>
                  <img style="vertical-align: middle;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/calendar.png"/>
                </span>
                <span style="font-size: 10px; color: #4D3737; margin-left: 10px;">TRAVEL DATES</span>
              </div>
              <div style="margin-top: 5%; font-size: 12px; font-weight: 400; line-height: 14.4px; margin-top: 13%; ">
                August 15, 2024 to<br>August 20, 2024
              </div>
            </span>
            <span style="width: 170px; height: 110px; float: left; padding-left: 15px;">
              <div>
                <span>
                  <img style="vertical-align: middle;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/currency.png"/>
                </span>
                <span style="font-size: 10px; color: #4D3737; margin-left: 10px;">
                  AMOUNT DUE
                </span>
              </div>
              <div style="margin-top: 5%; font-size: 12px; font-weight: 400; line-height: 14.4px; margin-top: 13%; ">
                INR
              </div>
              <div style="font-size: 14px; padding: 3px 0px; font-weight: 900; line-height: 16.8px;">
                ₹ 72,467
              </div>
              <div style="font-size: 12px; font-weight: 400; line-height: 14.4px">
                17 August 2024
              </div>
            </span>
        </div>

        <!--tropical island-->
        <div style="width: 100%; height: 110px; margin-top: 30px;">
            <span style="float: left;">
              <img style="height: 64px; width: 64px; border-radius: 8px" alt="" src="https://s3-alpha-sig.figma.com/img/e9f8/189b/c105eb8f6db771b26d60d4d43b57a558?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W~M5R3xlsOOaXMeOd1WTwSvyuW3IsfvnYjGtgYRFlduzLJDeqr3U6kjCpjcEUoH~GOyHebDKOv-XbepVczYu2d13uZfai-7XYFTZ5JAq-zL7zyDDx7j~7u6EC8bK7d6VzGwkBTHhOsioDmgi-EX2in8Pdnw0MlBW0jnA6Muz3nZhpPie12PXAarphqhvGXv9PQVL5TinqEF07viRa8147qqulcgVr~qUzbdvMm2ybrqeXM~7T~ffdQxBNlsk9bgQCWMRaZ1FDkteiDP7r2f7Q107JirHpzVS43SDwwoGNaNJJ8EhQdEA5m9G6lKnOLh3fxZ49dCKdoX5XDTQRrNnTw__"/>
            </span>
            <span style="margin-left: 4%; width: 75%; float: left;">
              <div style="font-size: 10px; color: #6A5858; font-weight: 400;">Package</div>
              <div style="font-size: 12px; line-height: 14px; font-weight: 600;">Tropical Island Adventure</div>
              <div style="border-top: 1px solid rgba(110, 110, 110, 0.5); width: 112%; margin-top: 10px;"></div>
              <div style="margin-top: 8px;">
                  <span style="font-size: 10px; color: #6A5858; font-weight: 400;">Duration: <span style="font-size: 10px; color: #000000; font-weight: 600;">1</span></span>
                  <span style="margin-left: 10px; font-size: 10px; color: #6A5858; font-weight: 400;">Travellers: <span style="font-size: 10px; color: #000000; font-weight: 600;">2 Adult, 2 Child, 1 Infant</span></span>
              </div>
            </span>
          </div>

        <!--red section-->
        <div style="width: 100%; height: 145px; margin: auto">
              <span style="float: right; background: #E41D55; width: 265px; height: 118px; border-radius: 14px; padding: 8px 20px 18px 20px;">
              <div style="width: 225px; height: 30px; margin-top: 10px; border-bottom: 0.6px solid #FFFFFF80;">
                  <span style="float: left; color: #FFFFFF;font-size: 10px;font-weight: 400;line-height: 14px;padding-top: 5px;">Total Amount</span>
                  <span style="float: right;color: #FFFFFF;font-size: 10px;font-weight: 400;line-height: 14px;padding-top: 5px;">₹ 103,524</span>
              </div>
              <div style="width: 225px; height: 30px; margin-top: 10px; border-bottom: 0.6px solid #FFFFFF80;">
                  <span style="float: left; color: #FFFFFF; font-size: 10px;font-weight: 400; line-height: 14px;padding-top: 5px;">Amount Paid</span>
                  <span style="float: right;color: #FFFFFF; font-size: 10px;font-weight: 400; line-height: 14px;padding-top: 5px;">₹ 31,057</span>
              </div>
              <div style="width: 225px; height: 30px; margin-top: 10px;">
                  <span style="float: left; color: #FFFFFF;font-size: 10px;font-weight: 400;line-height: 14px;padding-top: 5px;">Balance</span>
                  <span style="float: right;color: #FFFFFF;font-size: 14px;font-weight: 600;line-height: 14px;padding-top: 5px;">₹ 72,467</span>
              </div>
              </span>
        </div>

        <!--terms and conditions-->
        <div style="width: 100%; height: 94px; margin-top: 20px;">
            <div style="font-size: 10px; font-weight: 600; text-align: left;">Terms & Conditions:</div>
            <div style="font-size: 10px; color: #4D3737; font-weight: 400; text-align: left; margin-top: 10px;">
              Fees and payment terms will be outlined in the contract or agreement prior to the commencement of the tour package.
              An initial deposit is required to secure your booking. We reserve the right to suspend or cancel the tour package in the event of non-payment.
            </div>
            <div style="font-size: 12px; font-weight: 400; text-align: left; margin-top: 15px;">
                Please ensure that the balance amount of <span style="font-weight: 600;">₹ 72,467</span> is paid by <span style="font-weight: 600;">17 August 2024</span> to avoid any inconvenience.
            </div>
        </div>

        <!--Important Information-->
        <div style="width: 100%; margin-top: 20px;">
            <div style="font-size: 14px; font-weight: 600; text-align: left;">Important Information</div>
            <div style="margin-top: 10px;">
              <img style="vertical-align: middle; height: 14px; width: 14px;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/info-circle.png">
              <span style="font-size: 12px; font-weight: 400; margin-left: 10px;">
                Please bring a valid photo ID for check-in
              </span>
            </div>
            <div style="margin-top: 5px;">
              <img style="vertical-align: middle; height: 14px; width: 14px;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/info-circle.png">
              <span style="font-size: 12px; font-weight: 400; margin-left: 10px;">
                Our representative will be waiting for you at [Meeting Point] on [Meeting Date] at [Meeting Time]
              </span>
            </div>
            <div style="margin-top: 5px;">
              <img style="vertical-align: middle; height: 14px; width: 14px;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/info-circle.png">
              <span style="font-size: 12px; font-weight: 400; margin-left: 10px;">
                In case of any changes or cancellations, please refer to our cancellation policy [link to policy]
              </span>
            </div>
        </div>

        <!--cancellation policy-->
        <div style="width: 100%; margin-top: 20px;">
            <div style="font-size: 14px; font-weight: 600; text-align: left;">Cancellation Policy</div>
            <div style="margin-top: 10px;">
                <span>
                    <img style="vertical-align: middle; height: 14px; width: 14px;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/blur_circle.png">
                </span>
                <span style="font-size: 12px; font-weight: 400; margin-left: 10px;">
                    30 days or more prior to departure: Full refund of the deposit amount, minus
                </span>
            </div>
            <div style="margin-top: 5px;">
                <span>
                    <img style="vertical-align: middle; height: 14px; width: 14px;" src="https://dev-exrevampadmin.flycatchtech.in/media/common_images/blur_circle.png">
                </span>
                <span style="font-size: 12px; font-weight: 400; margin-left: 10px;">
                    15 to 29 days prior to departure: 50% of the total package cost will be refunded.
                </span>
            </div>
        </div>

        <!--for any queries-->
        <div style="width: 100%; height: 94px; margin-top: 20px;">
            <div style="font-size: 10px;">For any queries, feel free to contact us:</div>
            <div style="font-size: 12px; margin-top: 6px;">
                <span>Email: </span>
                <a style="text-decoration: none; color: #200505;" href="mailto: info@exploreworld.com"><strong>info@exploreworld.com</strong></a>
            </div>
            <div style="font-size: 12px; margin-top: 6px;">
                <span>Phone: </span>
                <strong>0473 234256</strong>
            </div>
            <div style="font-size: 10px; margin-top: 20px;">
                Thank you for choosing Explore World. We look forward to providing you with an unforgettable travel experience!
            </div>
        </div>

        <!--footer-->
        <div style="width: 100%; height: 94px; margin-top: 20px; text-align: center">
            <div style="font-size: 10px;">
                <a style="text-decoration: none; color: #200505; margin: 0 30px;" href="#">Privacy Policy</a>
                <a style="text-decoration: none; color: #200505; margin: 0 30px;" href="#">Terms and Conditions</a>
                <a style="text-decoration: none; color: #200505; margin: 0 30px;" href="#">Cancellation Policy</a>
            </div>
            <div style="border-top: 1px solid rgba(110, 110, 110, 0.5); width: 100%; margin-top: 10px"></div>
            <div style="font-size: 10px; color: #6A5858; margin-top: 6px;">This is a computer generated email, please don’t reply to this email</div>
            <div style="font-size: 10px; color: #6A5858; margin-top: 6px;">© explore world 2024</div>
        </div>
    </div>
</body>
</html>