<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0">
<div class="Invoice" style="width: 595px; height: 1301px; position: relative; background: white">
  <div class="Head" style="width: 515px; height: 94px; left: 40px; top: 74px; position: absolute; background: #E41D55; border-radius: 14px; overflow: hidden">
    <div class="Element" style="width: 174px; height: 174px; left: 305.88px; top: -100px; position: absolute; border-radius: 9999px"></div>
    <div class="Element" style="width: 174px; height: 174px; left: 0.08px; top: 36.37px; position: absolute; background: #CD1A4D; border-radius: 9999px"></div>
    <div class="CompanyInformation" style="width: 351px; left: 144px; top: 26px; position: absolute; justify-content: space-between; align-items: center; display: inline-flex">
      <div class="LeftContent" style="height: 48px"></div>
      <div class="InvoiceNumber" style="padding-left: 9px; padding-right: 9px; padding-top: 7px; padding-bottom: 7px; background: white; box-shadow: 0px -4px 20px rgba(47.78, 94.96, 150.87, 0.20); border-radius: 4px; justify-content: flex-start; align-items: flex-start; display: flex">
        <div class="ConfirmationNumber4607133476"><span style="color: #200505; font-size: 12px; font-family: Poppins; font-weight: 500; line-height: 14.40px; word-wrap: break-word">CONFIRMATION NUMBER</span><span style="color: #200505; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 14.40px; word-wrap: break-word">:  #4607133476</span></div>
      </div>
    </div>
  </div>
  <div class="Logo" style="width: 112px; height: 112px; padding-left: 8px; padding-right: 8px; left: 60px; top: 94px; position: absolute; background: white; box-shadow: 0px 2px 19px rgba(47.78, 94.96, 150.87, 0.07); border-radius: 24px; overflow: hidden; border: 0.60px #EBEFF6 solid; justify-content: center; align-items: center; display: inline-flex">
    <img class="Artboard23" style="width: 96px; height: 18px" src="https://via.placeholder.com/96x18" />
  </div>
  <div class="Frame1321319218" style="height: 1059px; left: 40px; top: 219px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
    <div class="Frame1321319217" style="align-self: stretch; height: 970px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
      <div class="Frame1321319216" style="align-self: stretch; height: 916px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
        <div class="Frame1321319215" style="align-self: stretch; height: 821px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
          <div class="Frame1321319214" style="align-self: stretch; height: 507px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
            <div class="Frame1321319213" style="align-self: stretch; height: 439px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
              <div class="Frame1321319212" style="align-self: stretch; height: 361px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 48px; display: flex">
                <div class="Frame1321319211" style="align-self: stretch; height: 196px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
                  <div class="Frame1321319203" style="align-self: stretch; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
                    <div class="Frame1321319202" style="width: 150px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                      <div class="Heading" style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                        <div class="Person" style="width: 12px; height: 12px; position: relative">
                          <div class="BoundingBox" style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                          <div class="Person" style="width: 7.20px; height: 7.20px; left: 2.40px; top: 2.40px; position: absolute; background: #E41D55"></div>
                        </div>
                        <div class="PrimaryTraveller" style="color: #4D3737; font-size: 10px; font-family: Poppins; font-weight: 400; text-transform: uppercase; line-height: 12px; word-wrap: break-word">Primary traveller</div>
                      </div>
                      <div class="Frame1321319200" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div class="CustomerName" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                          <div class="MuhammadAsif" style="width: 101px; color: #0D0202; font-size: 12px; font-family: Arial; font-weight: 400; line-height: 14.40px; word-wrap: break-word">Muhammad Asif</div>
                        </div>
                        <div class="PabloAltoSanFranciscoCa92102UnitedStatesOfAmerica" style="width: 150px; color: #1D0505; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 14.40px; word-wrap: break-word">Pablo Alto, San Francisco, CA 92102, United States of America</div>
                      </div>
                    </div>
                    <div class="Divider" style="width: 0px; height: 100px; border: 0.60px #EBEFF6 solid"></div>
                    <div class="Frame1321319201" style="width: 150px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                      <div class="Heading" style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                        <div class="CalendarMonth" style="width: 12px; height: 12px; position: relative">
                          <div class="BoundingBox" style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                          <div class="CalendarMonth" style="width: 8.40px; height: 9.60px; left: 1.80px; top: 1.20px; position: absolute; background: #E41D55"></div>
                        </div>
                        <div class="TravelDates" style="color: #4D3737; font-size: 10px; font-family: Poppins; font-weight: 400; text-transform: uppercase; line-height: 12px; word-wrap: break-word">Travel Dates</div>
                      </div>
                      <div class="August152024ToAugust202024" style="align-self: stretch; color: #1D0505; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 14.40px; word-wrap: break-word">August 15, 2024  to August 20, 2024</div>
                    </div>
                    <div class="Divider" style="width: 0px; height: 100px; border: 0.60px #EBEFF6 solid"></div>
                    <div class="Frame1321319203" style="width: 150px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                      <div class="Heading" style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
                        <div class="LocalAtm" style="width: 12px; height: 12px; position: relative">
                          <div class="BoundingBox" style="width: 12px; height: 12px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                          <div class="LocalAtm" style="width: 9.60px; height: 7.20px; left: 1.20px; top: 2.40px; position: absolute; background: #E41D55"></div>
                        </div>
                        <div class="AmountDue" style="color: #4D3737; font-size: 10px; font-family: Poppins; font-weight: 400; text-transform: uppercase; line-height: 12px; word-wrap: break-word">Amount DUE</div>
                      </div>
                      <div class="Frame1321319204" style="height: 49px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
                        <div class="Usd" style="justify-content: center; align-items: flex-start; gap: 8px; display: inline-flex">
                          <div class="Inr" style="color: #1D0505; font-size: 12px; font-family: Arial; font-weight: 400; line-height: 14.40px; word-wrap: break-word">INR</div>
                        </div>
                        <div class="Cost" style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
                          <div class="72467" style="color: #1D0505; font-size: 14px; font-family: Arial; font-weight: 900; line-height: 16.80px; word-wrap: break-word">₹ 72,467</div>
                        </div>
                        <div class="August2024" style="color: #1D0505; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 14.40px; word-wrap: break-word">17 August 2024</div>
                      </div>
                    </div>
                  </div>
                  <div class="Frame1321319210" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <img class="Rectangle289" style="width: 64px; height: 64px; border-radius: 8px; border: 1px #F0F3F6 solid" src="https://via.placeholder.com/64x64" />
                    <div class="Frame1321319209" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                      <div class="Frame1321319208" style="height: 30px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                        <div class="Package" style="align-self: stretch; color: #6A5858; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 12px; word-wrap: break-word">Package</div>
                        <div class="Item" style="align-self: stretch; color: #0D0202; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 14px; word-wrap: break-word">Tropical Island Adventure</div>
                      </div>
                      <div class="QuantityCost" style="width: 435px; padding-top: 8px; border-top: 0.60px #EBEFF6 solid; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                        <div class="Quantity" style="justify-content: flex-start; align-items: center; gap: 2px; display: flex">
                          <div class="Duration" style="color: #6A5858; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 12px; word-wrap: break-word">Duration :</div>
                          <div style="color: #0D0202; font-size: 10px; font-family: Poppins; font-weight: 600; line-height: 12px; word-wrap: break-word">1</div>
                        </div>
                        <div class="Frame1321319207" style="justify-content: flex-start; align-items: center; gap: 2px; display: flex">
                          <div class="Travellers" style="color: #6A5858; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 12px; word-wrap: break-word">Travellers:</div>
                          <div class="Adult2Child1Infant" style="color: #0D0202; font-size: 10px; font-family: Poppins; font-weight: 600; line-height: 12px; word-wrap: break-word">2 Adult , 2 Child, 1 Infant</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="TotalPrice" style="height: 117px; padding-top: 8px; padding-bottom: 18px; padding-left: 20px; padding-right: 20px; background: #E41D55; border-radius: 14px; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 17px; display: flex">
                  <div class="Subtotal" style="align-self: stretch; height: 60px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div class="Roll" style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; border-bottom: 0.60px rgba(255, 255, 255, 0.50) solid; justify-content: space-between; align-items: center; display: inline-flex">
                      <div class="TotalAmount" style="color: white; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">Total Amount</div>
                      <div class="103524" style="color: white; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">₹ 103,524</div>
                    </div>
                    <div class="Roll" style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; border-bottom: 0.60px rgba(255, 255, 255, 0.50) solid; justify-content: space-between; align-items: center; display: inline-flex">
                      <div class="AmountPaid" style="color: white; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">Amount Paid</div>
                      <div class="31057" style="color: white; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">₹ 31,057</div>
                    </div>
                  </div>
                  <div class="InvoiceTotal" style="align-self: stretch; border-radius: 4px; justify-content: space-between; align-items: center; display: inline-flex">
                    <div class="Balance" style="color: white; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 14px; word-wrap: break-word">Balance</div>
                    <div class="72467" style="color: white; font-size: 14px; font-family: Poppins; font-weight: 600; line-height: 14px; word-wrap: break-word">₹ 72,467</div>
                  </div>
                </div>
              </div>
              <div class="Frame1321319205" style="align-self: stretch; height: 54px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
                <div class="TermsConditions" style="align-self: stretch; color: #0D0202; font-size: 10px; font-family: Poppins; font-weight: 600; line-height: 12px; word-wrap: break-word">Terms & Conditions:</div>
                <div class="CompanyTermsConditions" style="width: 340px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                  <div class="FeesAndPaymentTermsWillBeOutlinedInTheContractOrAgreementPriorToTheCommencementOfTheTourPackageAnInitialDepositIsRequiredToSecureYourBookingWeReserveTheRightToSuspendOrCancelTheTourPackageInTheEventOfNonPayment" style="width: 517px; color: #4D3737; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 12px; word-wrap: break-word">Fees and payment terms will be outlined in the contract or agreement prior to the commencement of the tour package. An initial deposit is required to secure your booking. We reserve the right to suspend or cancel the tour package in the event of non-payment.</div>
                </div>
              </div>
            </div>
            <div class="PleaseEnsureThatTheBalanceAmountOf72467IsPaidBy17August2024ToAvoidAnyInconvenience" style="align-self: stretch"><span style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Please ensure that the balance amount of  </span><span style="color: black; font-size: 12px; font-family: Poppins; font-weight: 700; line-height: 18px; word-wrap: break-word">₹ 72,467  </span><span style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">is paid by </span><span style="color: black; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 18px; word-wrap: break-word">17 August 2024 </span><span style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word"> to avoid any inconvenience.</span></div>
          </div>
          <div class="Frame1321319088" style="align-self: stretch; height: 159px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div class="ImportantInformation" style="align-self: stretch; color: black; font-size: 14px; font-family: Poppins; font-weight: 600; line-height: 21px; word-wrap: break-word">Important Information</div>
            <div class="Frame1321319087" style="align-self: stretch; height: 122px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div class="Frame1321319085" style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                <div class="InfoCircleSvgrepoCom" style="width: 14px; height: 14px; position: relative">
                  <div class="Vector" style="width: 0px; height: 3.50px; left: 7px; top: 6.42px; position: absolute; border: 1.39px #E41D41 solid"></div>
                  <div class="Vector" style="width: 1.17px; height: 1.17px; left: 6.42px; top: 5.25px; position: absolute; background: #E41D41"></div>
                  <div class="Vector" style="width: 11.67px; height: 11.67px; left: 1.17px; top: 1.17px; position: absolute; border: 1.39px #E41D41 solid"></div>
                </div>
                <div class="PleaseBringAValidPhotoIdForCheckIn" style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Please bring a valid photo ID for check-in</div>
              </div>
              <div class="Frame1321319086" style="justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                <div class="InfoCircleSvgrepoCom" style="width: 14px; height: 14px; position: relative">
                  <div class="Vector" style="width: 0px; height: 3.50px; left: 7px; top: 6.42px; position: absolute; border: 1.39px #E41D41 solid"></div>
                  <div class="Vector" style="width: 1.17px; height: 1.17px; left: 6.42px; top: 5.25px; position: absolute; background: #E41D41"></div>
                  <div class="Vector" style="width: 11.67px; height: 11.67px; left: 1.17px; top: 1.17px; position: absolute; border: 1.39px #E41D41 solid"></div>
                </div>
                <div class="OurRepresentativeWillBeWaitingForYouAtMeetingPointOnMeetingDateAtMeetingTime" style="width: 476px; color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Our representative will be waiting for you at [Meeting Point] on<br/>[Meeting Date] at [Meeting Time]</div>
              </div>
              <div class="Frame1321319087" style="justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                <div class="InfoCircleSvgrepoCom" style="width: 14px; height: 14px; position: relative">
                  <div class="Vector" style="width: 0px; height: 3.50px; left: 7px; top: 6.42px; position: absolute; border: 1.39px #E41D41 solid"></div>
                  <div class="Vector" style="width: 1.17px; height: 1.17px; left: 6.42px; top: 5.25px; position: absolute; background: #E41D41"></div>
                  <div class="Vector" style="width: 11.67px; height: 11.67px; left: 1.17px; top: 1.17px; position: absolute; border: 1.39px #E41D41 solid"></div>
                </div>
                <div class="InCaseOfAnyChangesOrCancellationsPleaseReferToOurCancellationPolicyLinkToPolicy" style="width: 477px; color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">In case of any changes or cancellations, please refer to our<br/>cancellation policy [link to policy]</div>
              </div>
            </div>
          </div>
          <div class="Frame1321319215" style="align-self: stretch; height: 107px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div class="CancellationPolicy" style="align-self: stretch; color: black; font-size: 14px; font-family: Poppins; font-weight: 600; line-height: 21px; word-wrap: break-word">Cancellation Policy</div>
            <div class="Frame1321319087" style="align-self: stretch; height: 70px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div class="Frame1321319085" style="justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                <div class="BlurCircular" style="width: 18px; height: 18px; position: relative">
                  <div class="BoundingBox" style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                  <div class="BlurCircular" style="width: 15px; height: 15px; left: 1.50px; top: 1.50px; position: absolute; background: #4D3737"></div>
                </div>
                <div class="DaysOrMorePriorToDepartureFullRefundOfTheDepositAmountMinusAnyNonRefundableFees" style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">30 days or more prior to departure: Full refund of the deposit amount, minus<br/>any non-refundable fees.</div>
              </div>
              <div class="Frame1321319086" style="justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
                <div class="BlurCircular" style="width: 18px; height: 18px; position: relative">
                  <div class="BoundingBox" style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
                  <div class="BlurCircular" style="width: 15px; height: 15px; left: 1.50px; top: 1.50px; position: absolute; background: #4D3737"></div>
                </div>
                <div class="To29DaysPriorToDeparture50OfTheTotalPackageCostWillBeRefunded" style="width: 476px; color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">15 to 29 days prior to departure: 50% of the total package cost will be refunded.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Frame1321319089" style="align-self: stretch; height: 63px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div class="ForAnyQueriesFeelFreeToContactUs" style="align-self: stretch; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 15px; word-wrap: break-word">For any queries, feel free to contact us:</div>
          <div class="Frame1321319097" style="height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div class="Frame1321319095" style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
              <div class="Email" style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Email:</div>
              <div class="InfoExploreworldCom" style="color: black; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 18px; word-wrap: break-word">info@exploreworld.com</div>
            </div>
            <div class="Frame1321319096" style="justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
              <div class="Phone" style="color: black; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Phone:</div>
              <div class="234256" style="color: black; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 18px; word-wrap: break-word">0473 234256</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ThankYouForChoosingExploreWorldWeLookForwardToProvidingYouWithAnUnforgettableTravelExperience" style="align-self: stretch; color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 15px; word-wrap: break-word">Thank you for choosing Explore World.  We look forward to providing you with an unforgettable<br/>travel experience!</div>
    </div>
    <div class="Frame1321319206" style="align-self: stretch; height: 73px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
      <div class="Frame1321319092" style="justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
        <div class="Paragraph5" style="color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 15px; word-wrap: break-word">Privacy Policy</div>
        <div class="Paragraph6" style="color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 15px; word-wrap: break-word">Terms and Condition</div>
        <div class="Paragraph8" style="color: black; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 15px; word-wrap: break-word">Cancellation Policy</div>
      </div>
      <div class="Line9" style="align-self: stretch; height: 0px; border: 0.50px #6A5858 solid"></div>
      <div class="Frame1321319093" style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 4px; display: flex">
        <div class="Paragraph4" style="text-align: center; color: #6A5858; font-size: 8px; font-family: Poppins; font-weight: 400; line-height: 12px; word-wrap: break-word">This is a computer generated email, please don’t reply to this email</div>
        <div class="Paragraph5" style="text-align: center; color: #6A5858; font-size: 10px; font-family: Poppins; font-weight: 400; line-height: 10px; word-wrap: break-word">© exploreworld 2024</div>
      </div>
    </div>
  </div>
  <div class="BookingConfirmation" style="left: 34px; top: 30px; position: absolute; color: black; font-size: 16px; font-family: Arial; font-weight: 400; line-height: 24px; word-wrap: break-word">Booking confirmation</div>
</div>

</body>
</html>